.popup {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  display: block;
}

.popup__form {
  display: none;
  width: 728px;
  height: 444px;
  padding: 72px 60px 89px 397px;
  background: $color-gray url('../../img/popup-bg.jpg') no-repeat left;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    width: 320px;
    height: 568px;
    padding: 100px 16px 0 16px;
    background: none;
    background-color: $color-gray;
  }

  .form__header {
    margin-bottom: 50px;
    text-align: center;

    @include fontMeasure(600, 25px, 43px);
  }

  .form__input {
    margin-bottom: 20px;
  }
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:hover {
    path {
      stroke-opacity: 0.4;
    }
  }
}
